{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "root": true,
  "rules": {
    "max-len": [
      2,
      120,
      {
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "@typescript-eslint/no-explicit-any": "off"
  },
  "overrides": [
    {
      "files": "*.spec.js",
      "rules": {
        "max-nested-callbacks": "off"
      }
    }
  ],
  "env": {
    "mocha": true
  }
}
